<!--====== HEADER THREE PART START ======-->
<section class="header-area header-three">
  <div class="header-content-area">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="header-content text-center">
            <h3 class="header-title">
              Improve Your UX <br />
              On-Demand
            </h3>
            <p class="text">
              Stop wasting time and money designing and managing a website
              that doesn’t get results. Happiness guaranteed!
            </p>
            <div class="header-btn rounded-buttons">
              <a
                class="btn primary-btn rounded-full"
                href="javascript:void(0)"
              >
                DOWNLOAD NOW
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- header content area -->
</section>
<!--====== HEADER THREE PART ENDS ======-->
