<!--====== VIDEO  START ======-->
<section class="video-area" id="undiscover-video">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inner-content-head">
          <div class="inner-content">
            <div class="section-title">
              <span class="wow zoomIn" data-wow-delay=".2s">If you want to turn a vision into reality,</span>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">you have to give 100% and never stop believing in your dream.</h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                <i>- Arnold Schwarzenegger -</i>
              </p>
            </div>
            <div class="intro-video-play">
              <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                <a href="https://youtu.be/u_ktRTWMX3M"
                   class="glightbox video"><i class="lni far fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== VIDEO ENDS ======-->


