
.contact-area {
  padding-top: 120px;
  padding-bottom: 100px;
}
.contact-area .mt-15 {
  margin-top: 15px;
}
.contact-area .content{
  margin-bottom: 40px;
}

.contact-area .title {
  margin-bottom: 15px;
  font-size: max(30px, 2.865vw);
  line-height: max(40px, 3.698vw);
  font-weight: 900;
  font-family: var(--aktiv);
  text-transform: uppercase;
  -webkit-text-stroke-color: var(--success-dark) !important;
  text-stroke-color: var(--success-dark) !important;
  -webkit-text-stroke: 1.5px;
  text-stroke: 1.5px;
  color: transparent;
}

.contact-form .single-form label {
  font-size: 12px;
  color: var(--dark-2);
  line-height: 18px;
}
.contact-form .single-form .input-form {
  position: relative;
}

.contact-form .single-form .input-form textarea, .contact-form .single-form .input-form input {
  width: 100%;
  height: 44px;
  color: var(--dark-3);
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid var(--gray-4);
  font-weight: 500;
}
.contact-form .single-form .input-form textarea::placeholder, .contact-form .single-form .input-form input::placeholder {
  opacity: 1;
  color: var(--dark-3);
}
.contact-form .single-form .input-form textarea {
  padding-top: 10px;
}
.form-input .help-block {
  margin-top: 2px;
}
.form-input .help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--error);
}
.form-input label {
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-3);
  margin-bottom: 8px;
  display: inline-block;
}
.form-input .input-items {
  position: relative;
}
.form-input .input-items input, .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.form-input .input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.form-input .input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.form-input .input-items.default input, .form-input .input-items.default textarea {
  border-color: var(--gray-4);
  color: var(--dark-3);
}
.form-input .input-items.default input:focus, .form-input .input-items.default textarea:focus {
  border-color: var(--success-dark);
}
.form-input .input-items.default input::placeholder, .form-input .input-items.default textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.default i {
  color: var(--dark-3);
}
.form-input .input-items.active input, .form-input .input-items.active textarea {
  border-color: var(--primary-dark);
  color: var(--black);
}
.form-input .input-items.active input::placeholder, .form-input .input-items.active textarea::placeholder {
  color: var(--black);
  opacity: 1;
}
.form-input .input-items.error input, .form-input .input-items.error textarea {
  border-color: var(--error);
  color: var(--error);
}
.form-input .input-items.error input::placeholder, .form-input .input-items.error textarea::placeholder {
  color: var(--error);
  opacity: 1;
}
.form-input .input-items.error i {
  color: var(--error);
}
.form-input .input-items.success input, .form-input .input-items.success textarea {
  border-color: var(--success);
  color: var(--success);
}
.form-input .input-items.success input::placeholder, .form-input .input-items.success textarea::placeholder {
  color: var(--success);
  opacity: 1;
}
.form-input .input-items.success i {
  color: var(--success);
}
.form-input .input-items.disabled input, .form-input .input-items.disabled textarea {
  border-color: var(--dark-2);
  color: var(--dark-3);
  background: none;
}
.form-input .input-items.disabled input::placeholder, .form-input .input-items.disabled textarea::placeholder {
  color: var(--dark-3);
  opacity: 1;
}
.form-input .input-items.disabled i {
  color: var(--dark-3);
}

.form-style-four .form-input label {
  margin-bottom: 0;
}
.form-style-four .form-input .input-items input, .form-style-four .form-input .input-items textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.contact-info ul li .single-info {
  position: relative;
  margin-top: 19px;
}
.contact-info ul li .single-info .info-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.contact-info ul li .single-info .info-icon i {
  color: var(--dark-3);
  font-size: 18px;
  line-height: 24px;
}

.contact-info ul li .single-info .info-content .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-3);
  font-weight: 500;
}
.contact-info .social li {
  display: inline-block;
  margin-right: 12px;
}
.contact-info .social li a {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.096);
  text-align: center;
  border-radius: 5px;
  color: var(--dark-3);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.contact-info .social li a:hover {
  color: var(--white);
  background-color: var(--success-dark);
  border-color: transparent;
}
@media (max-width: 992px) {
  .section-social{
    display: none;
  }
  .contact-info{
    display: none;
  }
  .contact-area {
    padding-top: 80px;
    padding-bottom: 0;
  }
}




#contact-info {
    background-color: var(--white);
    padding-top: 120px;
    padding-bottom: 120px;

   .about-title {
    margin-bottom: 20px;
  }
   .single-about-items {
    margin-top: 30px;
    padding: 35px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow-2);
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
   .single-about-items:hover {
    box-shadow: var(--shadow-4);
  }
   .single-about-items::before {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 80px;
    width: 50px;
    border: 1px solid var(--success-dark);
    border-radius: 0 0 0 30px;
    right: -1px;
    top: -1px;
    opacity: 0.1;
  }
   .single-about-items::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    border: 1px solid var(--success-dark);
    border-radius: 50px;
    right: 60px;
    top: 10px;
    opacity: 0.1;
  }
   .single-about-items .items-icon {
    width: 70px;
    height: 70px;
    line-height: 85px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--success-dark);
    box-shadow: var(--shadow-2);
  }
   .single-about-items .items-icon i {
    font-size: 32px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .single-about-items .items-icon {
      max-width: 90px;
    }
  }
  @media (max-width: 767px) {
     .single-about-items .items-icon {
      max-width: 80px;
    }

      background-color: var(--white);
      padding-top: 40px;
      padding-bottom: 120px;

  }
   .single-about-items .items-content {
    margin-top: 32px;
  }
  @media only screen and (min-width: 1400px) {
     .single-about-items .items-content {
      padding-right: 45px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
     .single-about-items .items-content {
      padding-right: 35px;
    }
  }
   .single-about-items .items-content .items-title {
    color: var(--black);
    margin-bottom: 15px;
    font-weight: 600;
  }
   .single-about-items .items-content .text {
    color: var(--dark-3);
  }
}
