<!--====== CONTACT ONE PART START ======-->
<section class="contact-area">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-lg-6">
        <div class="content">
          <h2 class="title">Get in touch</h2>
          <p>
            My inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8">
        <div class="contact-form form-style-four mt-15">
          <form [formGroup]="validationForm" (ngSubmit)="onSubmit($event)">
            <div class="row">
              <div class="col-md-6">
                <div class="form-input mt-15">
                  <label for="name">Full Name</label>
                  <div class="input-items default">
                    <input type="text" id="name" formControlName="name" name="name" placeholder="John Doe" />
                  </div>
                </div>
                <!-- form input -->
              </div>
              <div class="col-md-6">
                <div class="form-input mt-15">
                  <label for="email">Email</label>
                  <div class="input-items default">
                    <input type="text" id="email" formControlName="email" name="mail" placeholder="admin@uideck.co" />
                  </div>
                </div>
                <!-- form input -->
              </div>


              <div class="col-md-6">
                <div class="form-input mt-15">
                  <label for="subject">Subject</label>
                  <div class="input-items default">
                    <input type="text" id="subject" formControlName="subject" name="subject" placeholder="Example..." />
                  </div>
                </div>
                <!-- form input -->
              </div>

              <div class="col-md-12">
                <div class="form-input mt-15">
                  <label for="message">Your Message</label>
                  <div class="input-items default">
                    <textarea
                      id="message" formControlName="message" name="message"
                      placeholder="Type your message here"
                    ></textarea>
                  </div>
                </div>
                <!-- form input -->
              </div>
              <div class="col-md-12">
                <div class="single-form mt-15">
                  <div class="input-form rounded-buttons">
                    <button
                      class="btn primary-btn"
                      type="submit"
                    >
                      SEND MESSAGE
                    </button>
                  </div>
                </div>
                <!-- single form -->
              </div>
            </div>
            <!-- row -->
          </form>
        </div>

        <div class="row"  *ngIf="msg">
          <div class="alert  alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <!-- contact form -->
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 offset-xl-1">
        <div class="section-title section-social">
          <img src="../../assets/image/larossa_massimo.png" alt="Larosssa Massimo">
          <h3 class="subtitle">Follow me</h3>
        </div>
        <div class="contact-info">
          <ul class="social mt-5">
            <li>
              <a href="https://www.facebook.com/gianluca.tiengo">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/truefreedom84">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/gianluca.tiengo/">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/gianluca-tiengo/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/Gian1984">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- contact-info -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== CONTACT ONE PART ENDS ======-->

<!--====== CONTACT PART TWO START ======-->
<section class="about-area" id="contact-info">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-lg-6">
        <div class="about-title text-start">
          <h2 class="title fw-bold pb-4">Are you ready?</h2>
          <p>
            As your partner i do my best, but what's more important is how i will try help you move forward. Whether it’s to better align on your business challenge, understand the people you need to reach, or define the best process to get there, we do it together as one single, cohesive team.
          </p>
        </div>
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="far fa-stars"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Easy</h4>
            <p class="text">
              No matter what level of web expertise you have, the whole process of development will be simple and manageable.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="far fa-search"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Focus</h4>
            <p class="text">
              I dont want to lure you with empty promises and hyperbole. Instead, i prefer results.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
      <div class="col-md-4 col-sm-8">
        <div class="single-about-items">
          <div class="items-icon">
            <i class="fal fa-fire"></i>
          </div>
          <div class="items-content">
            <h4 class="items-title">Commitment</h4>
            <p class="text">
              I know how important is the presence on the web for you, and that's why I'm committed every day to ensure the best result.
            </p>
          </div>
        </div>
        <!-- single about items -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== CONTACT PART TWO ENDS ======-->
