<nav class="navbar bg-white fixed-top" id="undiscover-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UNDISCOVER<span>.ME</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z" fill="currentColor"/>
      </svg>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">UNDISCOVER<span>.ME</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--====== FOOTER ======-->
<footer class="footer-area footer-two">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-sm-12">
          <div class="f-about">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <img src="https://cdn.ayroui.com/1.0/images/footer/logo.svg" alt="Logo" />
              </a>
            </div>
            <p class="text">
              Lorem Ipsum is simply dummy text of the printing and
              typesetting industry.
            </p>
            <ul class="social">
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-facebook-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-twitter-original"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
              <li>
                <a href="javascript:void(0)">
                  <i class="lni lni-linkedin-original"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Company</h6>
            <ul>
              <li><a href="javascript:void(0)">About</a></li>
              <li><a href="javascript:void(0)">Contact</a></li>
              <li><a href="javascript:void(0)">Marketing</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Services</h6>
            <ul>
              <li><a href="javascript:void(0)">Products</a></li>
              <li><a href="javascript:void(0)">Business</a></li>
              <li><a href="javascript:void(0)">Developer</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Help & Suuport</h6>
            <ul>
              <li><a href="javascript:void(0)">Support Center</a></li>
              <li><a href="javascript:void(0)">FAQ</a></li>
              <li><a href="javascript:void(0)">Terms & Conditions</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer widget -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center">
            <p class="text">Copyright © 2024 Gianluca Tiengo. All Rights Reserved</p>
          </div>
          <!-- copyright -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer copyright -->
</footer>
<!--====== FOOTER TWO PART ENDS ======-->
