<nav class="navbar bg-white fixed-top" id="undiscover-nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">UNDISCOVER<span>.ME</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H4ZM7 12C7 11.4477 7.44772 11 8 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H8C7.44772 13 7 12.5523 7 12ZM13 18C13 17.4477 13.4477 17 14 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H14C13.4477 19 13 18.5523 13 18Z" fill="currentColor"/>
      </svg>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">UNDISCOVER<span>.ME</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
          <svg fill="currentColor" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
               viewBox="0 0 512 512" xml:space="preserve"><g><g><polygon points="512,59.076 452.922,0 256,196.922 59.076,0 0,59.076 196.922,256 0,452.922 59.076,512 256,315.076 452.922,512 512,452.922 315.076,256 		"/></g></g></svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" id="home-nav" routerLinkActive="active" data-bs-dismiss="offcanvas">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/knowledge" id="knowledge-nav" routerLinkActive="active" data-bs-dismiss="offcanvas">Knowledge</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/skillup" id="skillup-nav"  routerLinkActive="active" data-bs-dismiss="offcanvas">Skill up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/services" id="services-nav" routerLinkActive="active" data-bs-dismiss="offcanvas">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/about" id="about-nav" routerLinkActive="active" data-bs-dismiss="offcanvas">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/contact" id="contact-nav" routerLinkActive="active" data-bs-dismiss="offcanvas">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--====== FOOTER ======-->
<footer class="footer-area" id="undiscover-footer">
  <div class="footer-widget">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-4 col-sm-12">
          <div class="f-about">
            <div class="footer-logo">
              <a href="javascript:void(0)">
                <h5 class="footer-logo">UNDISCOVER<span>.ME</span></h5>
              </a>
            </div>
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/gianluca.tiengo">
                  <i class="lni fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/truefreedom84">
                  <i class="lni fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/gianluca.tiengo/">
                  <i class="lni fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/gianluca-tiengo/">
                  <i class="lni fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="https://github.com/Gian1984">
                  <i class="lni fab fa-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Company</h6>
            <ul>
              <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Services</h6>
            <ul>
              <li><a routerLink="/services" routerLinkActive="active">Web development</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
        <div class="col-xl-2 col-lg-3 col-sm-4">
          <div class="footer-link">
            <h6 class="footer-title">Help & Support</h6>
            <ul>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
          </div>
          <!-- footer link -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer widget -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright text-center">
            <a class="btn rounded-full" href="https://www.instagram.com/massimolarossa/">Special thanks to Massimo for the pictures</a>
            <p class="text">Copyright © 2023 Gianluca Tiengo. All Rights Reserved</p>
          </div>
          <!-- copyright -->
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- footer copyright -->
</footer>
<!--====== FOOTER TWO PART ENDS ======-->
