<!--====== SERVICES PART ONE START ======-->
<section class="features-area-one" id="undiscover-services">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-lg-6">
        <div class="section-title">
          <h3 class="title">Everything you need </h3>
          <p class="text">
            Whichever platform you choose, I’ll make sure your new website shows the best of you, attracts and convert new leads, and provides a great user experience.
          </p>
        </div>
        <!-- row -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">Brochure<br> Websites</h4>
            <div class="features-icon">
              <i class="fad fa-spray-can"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              I design and develop responsive brochure websites to showcase your products and services
              in alignment with your brand essence,
              your target audience and your preferences. My websites follow the latest design trends to ensure they’re up to date for years to come.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">E-commerce<br> Websites</h4>
            <div class="features-icon">
              <i class="fad fa-swatchbook"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              In addition to designing a beautiful, trendy and modern-looking website that fits with your brand, i will also take care of all
              technical aspects of the e-commerce
              side to ensure that everything works without issues. I can set up smooth payment systems, integrations and subscriptions.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">Web<br> Application</h4>
            <div class="features-icon">
              <i class="fad fa-crop"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              I deliver web-based applications that help organizations to keep pace with constantly changing business needs.
              Such applications boast quick and easy access from anywhere on the Internet,
              ensure lower hardware and software costs and allow faster time to market.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== SERVICES PART ONE ENDS ======-->


<!--====== SERVICES PART ONE START ======-->
<section class="features-area-two" id="undiscover-services">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-6">
        <div class="section-title text-end">
          <h3 class="title">This is how we do it</h3>
          <p class="text">
            Depending on the type of project, the basic steps of building a website can vary. Not all websites are the same. Different types of management and planning are required.
          </p>
        </div>
        <!-- row -->
      </div>
    </div>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">Roadmap</h4>
            <div class="features-icon">
              <i class="fad fa-map"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              To define the vision of a product or service, I take the time to listen to you and understand your needs and those of your customers. I write a document with the technical specifications, some mockups, a program and a budget estimate.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">Prototyping</h4>
            <div class="features-icon">
              <i class="fad fa-leaf-maple"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              There is no universal and precise formula, because each project can have different characteristics. At the beginning we have to define objectives and potential critical issues, after which we move on to the conception of the product and then to the creation of a prototype.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
      <div class="col-lg-4 col-md-7 col-sm-9">
        <div class="features-style-two">
          <div class="features-title-icon d-flex justify-content-between">
            <h4 class="features-title">Development</h4>
            <div class="features-icon">
              <i class="fad fa-directions"></i>
            </div>
          </div>
          <div class="features-content">
            <p class="text">
              Do you have the vision, feel the pull and all you need is software? I will work with you to develop this new functional and design product that your customers will love to use. And I'll help you get started.
            </p>
          </div>
        </div>
        <!-- single features -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!--====== SERVICES PART ONE ENDS ======-->
