/* Bootstrap */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800;900&display=swap');


/*===========================
  COMMON css
===========================*/
:root {
  --aktiv: 'aktiv-grotesk', sans-serif;
  --font-family: "Outfit", sans-serif;
  --primary: #155bd5;
  --primary-dark: #111D4A;
  --primary-light: #e2f1ff;
  --accent: #00d4d7;
  --accent-dark: #00bac1;
  --accent-light: #dff9f8;
  --success: #13d527;
  --success-dark: #09814A;
  --success-light: #eafbe7;
  --secondary: #FC6167;
  --secondary-dark: #8789C0;
  --secondary-light: #f4e5fa;
  --info: #15b2d5;
  --info-dark: #0f8ca8;
  --info-light: #e0f5fa;
  --caution: #dbbb25;
  --caution-dark: #d58f15;
  --caution-light: #fbf9e4;
  --error: #e6185e;
  --error-dark: #bf1257;
  --error-light: #fce4eb;
  --black: #1d1d1d;
  --dark-1: #2d2d2d;
  --dark-2: #4d4d4d;
  --dark-3: #6d6d6d;
  --gray-1: #8d8d8d;
  --gray-2: #adadad;
  --gray-3: #cdcdcd;
  --gray-4: #e0e0e0;
  --light-1: #efefef;
  --light-2: #f5f5f5;
  --light-3: #fafafa;
  --white: #ffffff;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
@media (max-width: 991px) {
  body {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
}

a,
button,
button:focus,
a:hover,
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--black);
  margin: 0px;
}

h1,
.h1 {
  font-size: 2.75em;
  line-height: 1.25;
}

h2,
.h2 {
  font-size: 2.25em;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.75em;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1.25;
}

h5,
.h5 {
  font-size: 1.25em;
  line-height: 1.25;
}

h6,
.h6 {
  font-size: 0.875em;
  line-height: 1.25;
}

.display-1 {
  font-size: 5.5em;
  line-height: 1.25;
}

.display-2 {
  font-size: 4.75em;
  line-height: 1.25;
}

.display-3 {
  font-size: 4em;
  line-height: 1.25;
}

.display-4 {
  font-size: 3.25em;
  line-height: 1.25;
}

p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-3);
  margin: 0px;
}

.text-small {
  font-size: 0.875em;
  line-height: 1.5;
}

.text-lg {
  font-size: 1.15em;
  line-height: 1.5;
}

.bg_cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  font-weight: bold;
  font-size: max(14px, 0.833vw);
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn.btn-lg {
  font-size: 1.15em;
  padding: 16px 24px;
}
.btn.btn-sm {
  padding: 8px 16px;
}
.btn.square {
  border-radius: 0px;
}
.btn.semi-rounded {
  border-radius: 12px;
}
.btn.rounded-full {
  border-radius: 50px;
}
.btn.icon-left span,
.btn.icon-left i {
  margin-right: 8px;
}
.btn.icon-right span,
.btn.icon-right i {
  margin-left: 8px;
}
.btn.icon-btn {
  width: 48px;
  height: 48px;
  padding: 0;
  line-height: 48px;
}
.btn.icon-btn.btn-lg {
  width: 56px;
  height: 56px;
  line-height: 56px;
}
.btn.icon-btn.btn-sm {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.navbar-toggler {
  border: none;
  outline: none;
  color: var(--black)!important;
  background-color: transparent;

  &:focus,
  &:active,
  &-icon:focus {
    outline: none;
    box-shadow: none;
  }
}

.offcanvas-header .btn-close {
    --bs-btn-close-bg: none!important;
    padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
    margin-top: calc(-0.5 * var(--bs-offcanvas-padding-y));
    margin-right: calc(0 * var(--bs-offcanvas-padding-x));
    margin-bottom: calc(0 * var(--bs-offcanvas-padding-y));
    outline: none;
    box-shadow: none;
    color: var(--info);
}

#undiscover-video{
  .inner-content{
    background-image: url("assets/image/larossa_fight.png");
  }
}

@media (max-width: 992px) {
  #undiscover-video{
    .inner-content{
      background-image: url("assets/image/larossa_massimo_fight_768.png");
    }
  }
}






