#home-header{
  padding: 70px 0;

  .header-title {
    font-size: max(30px, 2.865vw);
    line-height: max(40px, 3.698vw);
    letter-spacing: 0px;
    font-family: var(--aktiv);
    font-weight: 900;
    margin-bottom: 0px;
    text-transform: uppercase;
  }

  .second-line{
    -webkit-text-stroke-color: var(--info) !important;
    text-stroke-color: var(--info) !important;
    -webkit-text-stroke: 1px;
    text-stroke: 1px;
    color: transparent;
  }


   .header-content-area {
    background-color: var(--white);
    padding: 20px 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .header-content-area {
      padding: 100px 0;
    }
  }
  @media (max-width: 767px) {
     .header-content-area {
      padding-top: 20px;
       padding-bottom: 50px;
    }

    padding-bottom: 0;
  }
   .header-content {
    position: relative;
    z-index: 9;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px) {
     .header-content {
      margin-top: 0;
    }
  }

   .text {
    margin-top: 20px;
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .header-image {
      margin-top: 40px;
    }
  }
  @media (max-width: 767px) {
     .header-image {
      margin-top: 30px;
    }
  }

  @media only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 1400px) {
     .header-image {
      padding: 60px;
    }
  }

}

/*===========================
    tech css
  ===========================*/


#tech-start{
  padding-bottom: 70px;

  svg{
    width: 70%;
  }

  @media (max-width: 767px) {
    padding-bottom: 0;
  }


}

/*===========================
    features css
  ===========================*/

.home-features{

    margin-bottom: 100px;

   .features-items {
    padding-top: 100px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .features-items {
      padding-top: 40px;
    }
  }
  @media (max-width: 767px) {
     .features-items {
      padding-top: 20px;
    }

    margin-bottom: 40px;
  }
   .features-title {
    margin-top: 50px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
     .features-title {
      margin-top: 30px;
    }
  }
  @media (max-width: 767px) {
     .features-title {
      margin-top: 20px;
    }
  }
   .sub-title {
    color: var(--info);
  }
   .main-title {
    font-weight: 700;
    margin-top: 10px;
  }
  @media (max-width: 767px) {
     .main-title {
      font-size: 28px;
      line-height: 36px;
    }
  }
   .text-lg {
    margin-top: 19px;
  }
   .features-image {
    margin-top: 50px;
  }
   .features-image img {
    width: 100%;
    border-radius: 8px;
  }
   .feature-btn {
    margin-top: 32px;
  }
}
